body {
  background-color: black;
}

#header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
}
.hedaderRightButton {
  font-size: 20px;
  color: #e4e4e5;
}
/* headerCenter */
#headerCenter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}
.headerCenterIcon {
  width: 24px;
  height: 24px;
}
#headerCenterDivDate {
  color: #e4e4e5;
  font-size: 25px;
  font-weight: 600;
}

/* header righte */
#headerRightDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#addButton {
  width: 80px;
  height: 40px;
  background-color: #ea3323;
  border: #ea3323;
  font-weight: 600;
  margin-left: 10px;
}
#logOUtButton {
  background-color: black;
  border: 1px solid #8c8c8c;
  width: 100px;
  height: 40px;
  font-weight: 600;
  margin-left: 10px;
}
#managmentButton {
  background-color: black;
  border: 1px solid #8c8c8c;
  width: 100px;
  height: 40px;
  font-weight: 600;
  margin-left: 10px;
}
/* 저장 수정을 감싸고 있는 div */
#mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 30%;
  left: 35%;
  /* box-shadow: rgba(85, 84, 84, 0.5) 0 0 0 9999px;
  z-index: 100; */
}

#mainList {
  background-color: red;
}
/* add button css  */
/* 저장  css  */
#bodyDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
#bodyDivForm {
  width: 400px;
  height: 300px;
  background-color: black;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid #8c8c8c;
}
#inputText {
  width: 350px;
  height: 200px;
  border: 0px solid black;
  background-color: black;
  color: #e4e4e5;
  font-size: 20px;
}

#saveButton {
  width: 80px;
  height: 40px;
  background-color: #ea3323;
  border: #ea3323;
  font-weight: 600;
}

/* modify CSS */
#mainModifyDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

/* main css */
#main {
  /* position: relative; */
  min-height: 100%;
}
.mainDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  border: 0.5px solid rgb(78, 78, 78);
  /* position: relative; */
}
.mainDivDate {
  color: #e4e4e5;
  font-size: 20px;
  font-weight: 400;
}
.mainDivSpan {
  color: #e4e4e5;
  font-size: 20px;
  font-weight: 400;
}
#headerLeftSpan {
  color: #e4e4e5;
  font-size: 20px;
  font-weight: 700;
}
#userIcon {
  color: #8c8c8c;
}
