body {
  background-color: black;
}

#header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 15%;
}
.hedaderRightButton {
  font-size: 20px;
  color: #e4e4e5;
}
/* headerCenter */
#headerCenter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 20%;
}
.headerCenterIcon {
  width: 24px;
  height: 24px;
}
#headerCenterDivDate {
  color: #e4e4e5;
  font-size: 25px;
  font-weight: 600;
}

/* header righte */
#addButton {
  width: 80px;
  height: 40px;
  background-color: #ea3323;
  border: #ea3323;
  font-weight: 600;
}
#logOUtButton {
  background-color: black;
  border: 1px solid #8c8c8c;
  width: 100px;
  height: 40px;
  font-weight: 600;
}
.mainDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  border: 0.5px solid rgb(78, 78, 78);
}
.mainDivDate {
  color: #e4e4e5;
  font-size: 20px;
  font-weight: 400;
}
.mainDivSpan {
  color: #e4e4e5;
  font-size: 20px;
  font-weight: 400;
}
#headerLeftSpan {
  color: #e4e4e5;
  font-size: 20px;
  font-weight: 700;
}
#userIcon {
  color: #8c8c8c;
}
